In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
pollution = pd.read_excel('Pollution_Restelo_2019_2020.xlsx')
pollutionBufDate = []
for i in range(len(pollution)):
    pollutionBufDate.append(pollution.Restelo[i].strftime("%Y-%m-%d"))
pollution.Restelo = pollutionBufDate
pollution

,Restelo,Ozono (µg/m3),Dióxido de Azoto (µg/m3),Óxidos de Azoto (µg/m3),Monóxido de Azoto (µg/m3)
0,2019-01-01,12.0,42.45,54.55,7.50
1,2019-01-02,25.0,39.70,46.30,3.65
2,2019-01-03,9.0,34.90,76.95,26.65
3,2019-01-04,22.0,36.35,55.10,3.10
4,2019-01-05,34.5,31.75,39.15,2.55
...,...,...,...,...,...
726,2020-12-27,48.5,13.90,16.25,1.30
727,2020-12-28,63.0,12.55,15.75,2.05
728,2020-12-29,49.5,16.25,20.85,1.80
729,2020-12-30,42.5,34.45,40.65,3.55
730,2020-12-31,57.5,11.95,15.10,1.80

In [7]:
weatherData = pd.read_excel('Lisbon,Portugal 2019-01-01 to 2020-03-31.xlsx')
weatherData = weatherData.merge(pollution, left_on='datetime',
                                right_on='Restelo', how='inner').drop('Restelo',axis=1)

In [8]:
pollenBuf = pd.read_excel('Pollen_2019.xlsx').iloc[:,:2]
pollenBufDate = []
for i in range(len(pollenBuf)):
    pollenBufDate.append(pollenBuf.date[i].strftime("%Y-%m-%d"))
pollenBuf.date = pollenBufDate
pollenBuf.date[0]
# pollenBufDate[0]

'2019-03-22'

In [9]:
pollenData = pd.DataFrame()
pollenData['date'] = weatherData['datetime']
# wheatherData['datetime'] = pollenData['date']
pollenData['pollen_intensity'] = 'good'
pollenData

           date pollen_intensity
0    2019-01-01             good
1    2019-01-02             good
2    2019-01-03             good
3    2019-01-04             good
4    2019-01-05             good
..          ...              ...
451  2020-03-27             good
452  2020-03-28             good
453  2020-03-29             good
454  2020-03-30             good
455  2020-03-31             good

[456 rows x 2 columns]

In [10]:
intensityBuf = pollenBuf['pollen_intensity']
datepollenBuf = list(pollenBuf['date'])
pollen_intensity = pollenData['pollen_intensity']
datepollenData = pollenData['date']

for i in range(len(pollen_intensity)):
    if datepollenData[i] in datepollenBuf:
#         print(datepollenBuf[datepollenBuf.index(datepollenData[i])],
#               datepollenData[i],
#               intensityBuf[datepollenBuf.index(datepollenData[i])])
        pollen_intensity[i] = intensityBuf[datepollenBuf.index(datepollenData[i])]
pollenData['pollen_intensity'] = pollen_intensity

In [11]:
pollen_intensity.value_counts()

good              351
muito elevados     56
elevados           28
baixos             21
Name: pollen_intensity, dtype: int64

In [12]:
# datepollenBuf.index[datepollenData[80]]
# datepollenData[80]
# type(datepollenBuf)

In [25]:
# datepollenData[1].strftime("%Y-%m-%d")

In [26]:
admisionData = pd.read_excel('URG_ASMA_LAST.XLSX')
admisionData

,num_sequencial,sexo,idade,dicofre,distrito,concelho,freguesia,regiao,nacionalidade,data_admissao,...,cor,cod_proveniencia,proveniencia,cod_causa,causa,cod_destino,destino,diagnostico,classe,asma
0,372731,1,35,111009,LISBOA,OEIRAS,PORTO SALVO,LISBOA E VALE DO TEJO,PORTUGAL,2019-01-01 16:08:00,...,Amarelo,20,ENCAMINHADO PELA SAUDE 24,5,DOENCA,5,EXTERIOR NAO REFERENCIADO,493 - ASMA,asma,1
1,945004,1,11,111012,LISBOA,OEIRAS,ALGÉS,LISBOA E VALE DO TEJO,BRASIL,2019-01-01 20:12:00,...,Laranja,5,EXTERIOR,5,DOENCA,2,CONSULTA EXTERNA,493 - ASMA,asma,1
2,1156492,1,5,111012,LISBOA,OEIRAS,ALGÉS,LISBOA E VALE DO TEJO,PORTUGAL,2019-01-01 21:44:00,...,Laranja,5,EXTERIOR,5,DOENCA,12,ARS/CENTRO DE SAUDE,493 - ASMA,asma,1
3,1156493,2,45,110658,LISBOA,LISBOA,BELÉM,LISBOA E VALE DO TEJO,PORTUGAL,2019-01-01 21:45:00,...,Laranja,5,EXTERIOR,5,DOENCA,5,EXTERIOR NAO REFERENCIADO,493 - ASMA,asma,1
4,114619,1,26,110658,LISBOA,LISBOA,BELÉM,LISBOA E VALE DO TEJO,PORTUGAL,2019-01-01 21:56:00,...,Verde,5,EXTERIOR,5,DOENCA,5,EXTERIOR NAO REFERENCIADO,493 - ASMA,asma,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,772004,1,9,111012,LISBOA,OEIRAS,ALGÉS,LISBOA E VALE DO TEJO,PORTUGAL,2020-02-20 21:07:00,...,Amarelo,5,EXTERIOR,5,DOENCA,5,EXTERIOR NAO REFERENCIADO,"49392 - ASMA, COM EXACERBACAO AGUDA",asma,1
1096,779889,1,9,111124,LISBOA,SINTRA,CACÉM E SÃO MARCOS,LISBOA E VALE DO TEJO,PORTUGAL,2020-02-24 09:14:00,...,Amarelo,5,EXTERIOR,5,DOENCA,5,EXTERIOR NAO REFERENCIADO,"49392 - ASMA, COM EXACERBACAO AGUDA",asma,1
1097,1199370,1,23,110662,LISBOA,LISBOA,PARQUE DAS NAÇÕES,LISBOA E VALE DO TEJO,PORTUGAL,2020-03-04 14:18:00,...,Verde,5,EXTERIOR,5,DOENCA,5,EXTERIOR NAO REFERENCIADO,"49392 - ASMA, COM EXACERBACAO AGUDA",asma,1
1098,715509,1,10,110601,LISBOA,LISBOA,AJUDA,LISBOA E VALE DO TEJO,PORTUGAL,2020-03-08 14:12:00,...,Laranja,5,EXTERIOR,5,DOENCA,2,CONSULTA EXTERNA,"49392 - ASMA, COM EXACERBACAO AGUDA",asma,1
1099,733161,1,10,111014,LISBOA,OEIRAS,OEIRAS E S.JULIÃO DA BARRA,LISBOA E VALE DO TEJO,PORTUGAL,2020-03-13 18:56:00,...,Amarelo,7,ARS/CENTRO DE SAUDE,5,DOENCA,5,EXTERIOR NAO REFERENCIADO,"49392 - ASMA, COM EXACERBACAO AGUDA",asma,1

In [27]:
admisionDate = []
for i in range(len(admisionData)):
#     try:
        admisionDate.append(admisionData.data_admissao[i].strftime("%Y-%m-%d"))
#     except:
#         print(i)
admisionData.data_admissao = admisionDate
admisionData.data_admissao

0       2019-01-01
1       2019-01-01
2       2019-01-01
3       2019-01-01
4       2019-01-01
           ...
1095    2020-02-20
1096    2020-02-24
1097    2020-03-04
1098    2020-03-08
1099    2020-03-13
Name: data_admissao, Length: 1100, dtype: object

In [28]:
# admisionData.data_admissao[0].strftime("%Y-%m-%d")

In [29]:
asmaData = admisionData.merge(pollenData, left_on='data_admissao', right_on='date', how='inner').\
merge(weatherData, left_on='data_admissao', right_on='datetime', how='inner')
asmaData.to_csv('integrated Asma Data.csv', index=False)

In [30]:
weather = weatherData.merge(pollenData, left_on='datetime', right_on='date', how='inner').\
drop(['date'], axis=1)

In [31]:
weather['admission number'] = 0
dumy_df = pd.DataFrame()
# print()
dumy_df['datetime'] = list(admisionData.groupby(['data_admissao']).size().index)
dumy_df['athmaCounter'] = list(admisionData.groupby(['data_admissao']).size())
dumy_df

       datetime  athmaCounter
0    2019-01-01             5
1    2019-01-02             3
2    2019-01-03             1
3    2019-01-04             5
4    2019-01-05             2
..          ...           ...
390  2020-03-19             1
391  2020-03-20             1
392  2020-03-26             1
393  2020-03-28             1
394  2020-03-30             1

[395 rows x 2 columns]

In [ ]:
for i in range(len(weather)):
    for j in range(len(dumy_df)):
        if weather.loc[i, 'datetime'] == dumy_df.loc[j, 'datetime']:
            weather.loc[i, 'admission number'] = dumy_df.loc[j, 'athmaCounter']
weather['admission number']

In [17]:
weather['admission number'].value_counts()

2    102
1    101
3     81
0     61
4     52
5     30
6     18
7      5
9      3
8      3
Name: admission number, dtype: int64

In [18]:
weather.to_csv('everyday weather and admissions.csv', index=False)